:root {
  --border-color: 2px solid #f790d5;
  --text-color: white;
  --main-color: #6c63ff;
}

body {
  background: #fcdcf4;
  font-family: 'Roboto', sans-serif;
  margin: 50px;
}


h1 {
  font-size: 105px;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Playfair Display', serif;;
}


h2 {
  font-size: 32px;
  opacity: 0.9;
  margin: 0;
  text-align: center;
}

h3 {
  text-align: center;
  opacity: 0.9;
}

hr {
  border-color: #a50871;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 50px;
  margin-right: 50px;
  border-style: inset;
  border-width: 2px;
}

.row p {
  margin-left: 20px;
  font-size: 15px;
  margin-top: 10px;
  font-weight: bold;
}

.navbar {
  padding: 12px;
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
}

.navbar-color {
  background-color: #fcdcf4;
}

.main-page {
  margin-top: 150px;
  text-align: center;
  margin-bottom: 100px;
}

.introduction {
  margin-top: 70px;
}

.contact-link {
  border: var(--border-color);
  border-radius: 20px;
  padding: 20px 20px;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 20px;
}

.contact-link:hover {
  color: #f73cb9;
}

.columns {
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
}

.text1 {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-right: 20px;
  background-color: #f3c9e5;
}

.text2 {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  background-color: #f3c9e5;
}

.skills {
  margin-top: 30px;
  margin-bottom: 45px;
  font-size: 45px;
}

.certificates {
  margin-top: 30px;
  margin-bottom: 45px;
  font-size: 45px;
}

.certificate-images {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.email {
  display: flex;
  justify-content: center;
  color: var(--main-color);
  font-size: 28px;
  text-decoration: none;
  margin-bottom: 30px;
}

.email:hover {
  text-decoration: underline;
}

.bg-pink {
  background: #fdf7fa;
}

.projects h1 {
  font-size: 65px;
}

.projects h2 {
  font-size: 45px;
  color: #a50871;
  text-decoration: underline;
}

.projects p {
  font-size: 25px;
  margin: 25px 0px;
  font-weight: lighter;
}

.project-button {
  text-align: center;
  background-color: #a50871;
  border-radius: 15px;
  padding: 20px 20px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 180px;
}

.project-button:hover {
  background-color: #a50871;
  color: white;
}

.nav-item {
  font-weight: 600;
  font-size: 20px;
}

.navbar-brand {
  font-weight: 600;
  font-size: 28px;
}

.navbar-nav {
  margin-left: 700px;
}


@media (max-width: 414px) {
  h1 {
    font-size: 70px;
  }

  .text {
    text-align: center;
  }

  .email {
    font-size: 24px;
  }
}


