:root {
  --border-color: 1px solid #6c63ff;
  --background-color: #6c63ff;
  --text-color: white;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --main-color: #6c63ff;
  --primary-color: #f5f2fe;
}

body {
  background: #f4f2f5;
}


h1 {
  font-size: 96px;
  margin: 0;
  text-align: center;
  margin-top: 30px;
}

h2 {
  font-size: 48px;
  margin: 0;
  margin-top: 60px;
  text-align: center;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  margin: 0;
  text-align: center;
}

.links {
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
}

.contact {
  border: var(--border-color);
  border-radius: 4px;
  padding: 20px 15px;
  background: var(--background-color);
  text-decoration: none;
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  margin: 20px;
}

.about {
  border: var(--border-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  color: #8463ff;
  margin: 20px;
}

.columns {
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
}

.text1 {
  border: var(--primary-color);
  background: var(--primary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-right: 20px;
}

.text2 {
  border: var(--primary-color);
  background: var(--primary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.email {
  display: flex;
  justify-content: center;
  color: var(--main-color);
  font-size: 28px;
  text-decoration: none;
  margin-bottom: 30px;
}

.email:hover {
  text-decoration: underline;
}

.contact:hover {
  color: white;
}

.bg-pink {
  background: #fdf7fa;
}

.white-border {
  border: 10px solid white;
  padding: 10px;
  margin-top: 20px;
}

.btn {
  display: block;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 414px) {
  h1 {
    font-size: 70px;
  }

  .text {
    text-align: center;
  }

  .email {
    font-size: 24px;
  }
}


