:root {
  --border-color: 2px solid #f790d5;
  --text-color: white;
  --main-color: #6c63ff;
  --primary-color: #f5f2fe;
}

body {
  background: #fcdcf4;
  font-family: 'Roboto', sans-serif;
}


h1 {
  font-size: 105px;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}


h2 {
  font-size: 32px;
  opacity: 0.9;
  margin: 0;
  text-align: center;
}

hr {
  border-color: #a50871;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 50px;
  margin-right: 50px;
  border-style: inset;
  border-width: 2px;
}

.navbar {
  padding: 12px;
}

.navbar-color {
  background-color: #fcdcf4;
}


.main-page {
  margin-top: 150px;
  text-align: center;
  margin-bottom: 100px;
}

.introduction {
  margin-top: 70px;
}

.contact-link {
  border: var(--border-color);
  border-radius: 20px;
  padding: 20px 20px;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 20px;
}

.contact-link:hover {
  color: #f73cb9;
}

.about {
  border: var(--border-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  color: #8463ff;
  margin: 20px;
}

.columns {
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
}

.text1 {
  border: var(--primary-color);
  background: var(--primary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-right: 20px;
}

.text2 {
  border: var(--primary-color);
  background: var(--primary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.email {
  display: flex;
  justify-content: center;
  color: var(--main-color);
  font-size: 28px;
  text-decoration: none;
  margin-bottom: 30px;
}

.email:hover {
  text-decoration: underline;
}



.bg-pink {
  background: #fdf7fa;
}

.white-border {
  border: 10px solid white;
  padding: 10px;
  margin-top: 20px;
}

.btn {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.nav-item {
  font-weight: 600;
  font-size: 20px;
}

.navbar-brand {
  font-weight: 600;
  font-size: 28px;
}

.navbar-nav {
  margin-left: 700px;
}


@media (max-width: 414px) {
  h1 {
    font-size: 70px;
  }

  .text {
    text-align: center;
  }

  .email {
    font-size: 24px;
  }
}


